@use '../colors';
@use '../utils' as *;

.avatar {
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 rem(1) colors.$stone-200, 0 rem(4) rem(4) rem(-4) rgba(colors.$black, .5);

    &--small {
        width: rem(18);
    }

    &--big {
        width: rem(32);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
